<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.admin.dao.DailyMapper">
  <resultMap id="BaseResultMap" type="com.example.admin.bean.Daily">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ordernum" jdbcType="VARCHAR" property="ordernum" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="latintude" jdbcType="VARCHAR" property="latintude" />
    <result column="longtitude" jdbcType="VARCHAR" property="longtitude" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="servicetime" jdbcType="INTEGER" property="servicetime" />
    <result column="endtime" jdbcType="INTEGER" property="endtime" />
    <result column="startlocation" jdbcType="VARCHAR" property="startlocation" />
    <result column="endlocation" jdbcType="VARCHAR" property="endlocation" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="pid" jdbcType="VARCHAR" property="pid" />
  </resultMap>

</mapper>